Repository Joannegton/SpeakRooms-FullStack, pull requests merged in 2025-04, with the labels that each got.

#7 Adiciona middlewares
  backend/ormConfig.ts
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/data-source.ts
  backend/src/main.ts
  backend/src/middlewares/cors.middleware.ts
  backend/src/middlewares/helmet.middleware.ts
  backend/src/middlewares/jwt-auth.guard.ts
  backend/src/middlewares/rate-limit.middleware.ts
  backend/src/modules/usuario/application/dtos/Login.dto.ts
  backend/src/modules/usuario/application/mappers/Usuario.mapper.ts
  backend/src/modules/usuario/application/useCases/Login.usecase.ts
  backend/src/modules/usuario/application/useCases/SalvarUsuario.usecase.ts
  backend/src/modules/usuario/auth.controller.ts
  backend/src/modules/usuario/domain/models/usuario.model.ts
  backend/src/modules/usuario/domain/repositories/usuario.repository.ts
  backend/src/modules/usuario/domain/services/Auth.service.ts
  backend/src/modules/usuario/infra/decorators/public.decorator.ts
  backend/src/modules/usuario/infra/mappers/Usuario.mapper.ts
  backend/src/modules/usuario/infra/repositories/Usuario.repository.ts
  backend/src/modules/usuario/infra/services/Auth.service.ts
  backend/src/modules/usuario/usuario.module.ts
  backend/src/shared/infra/migrations/1843351403167-InserirUsuarioBase.ts
  backend/src/shared/services/Hash.service.ts
  backend/src/utils/exception.ts
  backend/src/utils/http.interceptor.ts
  backend/src/utils/httpResponse.ts
Labels: backend

#11 1
  CONTRIBUTING.md
  CodigoConduta.md
  backend/.env
  backend/src/modules/usuario/application/dtos/Usuario.dto.ts
  backend/src/modules/usuario/application/mappers/Usuario.mapper.ts
  backend/src/modules/usuario/application/queries/BuscarUsuarioEmailUsuario.query.ts
  backend/src/modules/usuario/application/queries/BuscarUsuarios.query.ts
  backend/src/modules/usuario/application/queries/index.ts
  backend/src/modules/usuario/application/useCases/AtualizarUsuario.usecase.ts
  backend/src/modules/usuario/application/useCases/DeletarUsuario.usecase.ts
  backend/src/modules/usuario/application/useCases/SalvarUsuario.usecase.ts
  backend/src/modules/usuario/application/useCases/index.ts
  backend/src/modules/usuario/auth.controller.ts
  backend/src/modules/usuario/domain/repositories/usuario.repository.ts
  backend/src/modules/usuario/infra/repositories/Usuario.repository.ts
  backend/src/modules/usuario/usuario.controller.ts
  backend/src/modules/usuario/usuario.module.ts
  frontend/.gitignore
  frontend/.prettierrc
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/assets/ChatGPT Image 5 de abr. de 2025, 21_46_09.png
  frontend/src/components/atomo/Botao.tsx
  frontend/src/components/atomo/EntradaTexto.tsx
  frontend/src/components/molecula/ChatRoomCard.tsx
  frontend/src/components/organismo/inicio.tsx
  frontend/src/components/template/inicio.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/pages/App.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: melhoria, backend

#23 #21 Criação de validação com react-hook-form junttamente com inicio de estilização tailwind!
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/atomo/Botao.tsx
  frontend/src/components/atomo/input.tsx
  frontend/src/components/organismo/form.tsx
  frontend/src/pages/App.tsx
Labels: melhoria, frontend, feature
